/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Marvel:ital,wght@1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family:"Bangers";
}
:root {
    --main-color: #ff0000;
    --second-color: #000000;
}
  
section {
    padding: 50px 10%;
}
*::selection {
    color: #fff;
    background: var(--main-color);
}
  
img {
    width: 100%;
}

header {
    position: fixed;
    width: 85%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 4px 41px rgba(14, 55, 54, 0.14);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
}

.navbar{
    display: flex;
}
.navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
  
.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(https://cdn.wallpapersafari.com/32/0/R8BjwS.jpg);
    background-size:cover;
    gap: 1rem;
}

.home-text {
    flex: 1 1 17rem;
}
  
@keyframes animate {
    0% {
      transform: translate(-11px, 0);
    }
    50% {
      transform: translate(-0, -11px);
    }
    100% {
      transform: translate(-11px, 0);
    }
}

.home-text span {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--second-color);
}

.home-text h1 {
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2 {
    font-size: 1.8rem;
    font-weight: bolder ;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}

.btn:hover {
    color: #ff0000;
    background: var(--second-color);
}

.heading {
    text-align: center;
    text-transform: uppercase;
}
  
.heading span {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--second-color);
}
  
.heading h1 {
    font-size: 6rem;
    color: var(--main-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.marvel-img,
.story-img {
    flex: 1 1 21rem;
}
  
.marvel-text,
.story-text {
    flex: 1 1 21rem;
}

.marvel-text h2,
.story-text h2 {
    font-size: 1.8rem;
    color: var(--second-color);
}
  
.marvel-text p,
.story-text p {
    margin: 0.5rem 1rem;
    text-align: justify;
}

.beurself {
    display: flex;
    flex-wrap: wrap;
    background: #000000;
    gap: 1.5rem;
}
  
.beurself-img {
    flex: 1 1 17rem;
}
  
.beurself-text {
    flex: 1 1 17rem;
}

.beurself-text h2 {
    font-size: 3rem;
    color:#fff;
    text-align: center;
}
  
.beurself-text p {
    margin: 0.5rem 1rem;
    text-align: justify;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.social a {
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx {
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}

.social a .bx:hover{
    background: var(--main-color);
}

.links {
    margin: 1rem;
}
  
.links a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
  
.links a:hover {
    color: var(--main-color);
}

.contact p {
    text-align: center;
}

@media (max-width: 1150px) {
    header {
      padding: 18px 7%;
    }
  
    section {
      padding: 50px 7%;
    }
  
    .home-text h1 {
      font-size: 3rem;
    }
  
    .home-text h2 {
      font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    header {
      padding: 18px 4%;
    }
  
    section {
      padding: 50px 4%;
    }
}

@media (max-width: 768px) {
    header {
      padding: 11px 4%;
    }
    #menu-icon {
        display: initial;
      }
      
      header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgba(255, 255, 255, 0.14);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active {
        top: 100%;
        padding: 1.5rem;
        display: block;
    }
    
    .navbar a {
        color: var(--second-color);
    }
    .home-text span {
        font-size: 0.9rem;
      }
      
      .home-text h1 {
        font-size: 2.4rem;
      }
      
      .home-text h2 {
        font-size: 1.2rem;
      }            
}